<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Account</key>
	<string>steve111</string>
	<key>BOOL</key>
	<true/>
	<key>Password</key>
	<string>steve222</string>
</dict>
</plist>
